<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Take control of your insurance</h1>
      <p>We know you have choice, we'll exceed expectations.</p>  
    </div>
  </div>
</div>
