<%= render 'hero_index' %>
<article class="wrapper">
  <div class="skinny_wrapper skinny_wrapper--center shadow animated bounce fadeInUp">
	<h2 class="ghosted">Let's get you started:</h2>
    <%= render 'form' %>
  </div>
</article>