<div class="image-gradient-dynamic">
	<%= image_tag @insurance.image.url(:large) %>
	<div class="copy">
    <h2 class="welcome-text animated bounce fadeInDown"><span class="db"><strong><%= @insurance.title %></strong></span></h2>
  </div>
</div>
