	<aside class ="sidebar">
		<% @insurances.each do |insurance| %>
			<div>
				<%= image_tag insurance.image.url(:medium) %>
				<h2 class="hello"><%= insurance.title %></h2>
				<div>
					<%= truncate(insurance.description, :length => 35) %></div>
				<%= link_to "Read More", insurance %>
			</div>
		<% end %>
	</aside>