	<aside class ="sidebar">
		<% @posts.each do |post| %>
			<div class="sidebar_card">
				<div class="sidebar_img">
					<%= image_tag post.image.url(:thumb) %>
				</div>
				<%= link_to post, :class=>"sidebar_link" do %>	
					<h2 class="hello"><%= post.title %></h2>
					<p>
					<%= truncate(post.content, :length => 65) %>
					</p>
					<p>Read More 
					<i class="icon-right-open"></i>
					</p>
				<%end%>
				</div>
			</div>
		<% end %>
	</aside>