	<aside class ="sidebar">
		<div class="sidebar-contact-card">
			<h2>Contact Joe Stanovich</h2>
			<p class="address">
				Balboa Pacific Insurance Services<br> 
				450 Newport Center Drive Suite 480<br> 
				Newport Beach, CA 92660<br> 
			</p>
			<a href="tel:+19492973119">	(949) 207-3110 Phone </a>
			<span>	
				(949) 608-9102 Fax
			</span> 
		</div>
		<ul>
		<% @insurances.each do |insurance| %>
			<li class="sidebar_card">
				<div class="sidebar_img">
					<%= image_tag insurance.image.url(:thumb) %>
				</div>
				<%= link_to insurance, :class=>"sidebar_link" do %>	
					<h2 class="hello"><%= insurance.title %></h2>
					<%= truncate(insurance.description, :length => 35) %>
				<%end%>
				</div>
			</li>
		<% end %>
		</ul>
	</aside>