<div class="sub_header">
	<div class="wrapper">
		<h2 class="title"> This is a Header </h2>
	</div>
</div>
<article class="content_well type-system-serif">
	<section>
		<div class="skinny_wrapper">
			<h1 class="hello">New Insurance</h1>
			<%= render 'form' %>
		</div>
	</section>
	<aside class ="sidebar">
		<h2>Sidebar Content</h2>
	</aside>
</article>