<div class="image-gradient-dynamic">
  <%= image_tag("bg/welcome.jpg", :alt => "insurance") %>
  <div class="overlay"></div>
  <div class="copy">
    <h2>Get all the protection you need.</h2>
    <%= link_to "Get Started", quotes_path, class: "btn btn--outline" %>
		<i class="icon-right-open-mini button-icon button-icon--yellow"></i>
  </div>
</div>
