<div class="image-gradient-dynamic">
  <%= image_tag("bg/waves.jpg", :alt => "insurance") %>
  <!-- <img src="https://c.stocksy.com/a/Vd1300/z0/721277.jpg" alt="Kids"> -->
  <div class="copy">
    <h2 class="welcome-text animated bounce fadeInDown"><span class="db"><strong>Enjoy Life.</strong></span> We've got you covered.</h2>
	<span class="animated bounce fadeIn">
	    <%= link_to "Get Started", quotes_path, class: "btn btn--brand-blue" %>
			<i class="icon-right-open-mini button-icon button-icon--white"></i>
	</span>
  </div>
</div>
