<div class="image-gradient-dynamic">
  <%= image_tag("bg/waves.jpg", :alt => "insurance") %>
  <div class="copy">
    <h2 class="welcome-text animated bounce fadeInDown">Get all the protection you need.</h2>
	<span class="animated bounce fadeIn">
	    <%= link_to "Get Started", quotes_path, class: "btn btn--brand-blue" %>
			<i class="icon-right-open-mini button-icon button-icon--white"></i>
	</span>
  </div>
</div>
