<div class="image-gradient-dynamic">
  <img src="https://c.stocksy.com/a/Duf300/z0/876073.jpg" alt="">
  <div class="overlay"></div>
  <div class="copy">
    <h2>Insurance is Cool.</h2>
    <%= link_to "Get Started", quotes_path, class: "btn btn--outline" %>
		<i class="icon-right-open-mini button-icon button-icon--yellow"></i>
  </div>
</div>
