<div class="image-gradient-dynamic">
  <%= image_tag("bg/fam.jpg", :alt => "insurance") %>
  <!-- <img src="https://c.stocksy.com/a/QmU300/z0/833306.jpg" alt="Kids"> -->
  <div class="copy">
    <h2 class="welcome-text animated bounce fadeInDown"><span class="db"><strong>Play More. Worry Less.</strong></span></h2><p>Home, Auto and Life Insurance</p>
	<span class="animated bounce fadeIn">
	    <%= link_to "Get Started", quotes_path, class: "btn btn--brand-blue" %>
			<i class="icon-right-open-mini button-icon button-icon--white"></i>
	</span>
  </div>
</div>
