<div class="cards wrapper">
  <div class="card">
    <div class="card-image">
      <%= image_tag("bg/car_quote.jpg", :alt => "insurance") %>
    </div>
    <div class="card-copy">
      <p>Now I'll be able to save over $500 per year on Auto alone!</p>
      <span>Susan R.</span>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <%= image_tag("bg/home_quote.jpg", :alt => "insurance") %>
    </div>
    <div class="card-copy">
      <p>I'm saving $1200/yr on auto and homeowners insurance.</p>
      <span>Kristie B.</span>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <%= image_tag("bg/misc_quote.jpg", :alt => "insurance") %>
    </div>
    <div class="card-copy">
      <p>Joe is always there when I need questions answered.</p>
      <span>James B.</span>
    </div>
  </div>
</div>

