<aside class="sidebar">
	<div class="headshot">
		<%= image_tag "bg/headshot.jpg" %>
	</div>
	<h2>Joe Stanovich, Title</h2>
	<p id="bio">
		This is something about Joe, and what he does and why he does it and how he does it. Just filler copy for now, what should we put here? Something cool and exciting?
	</p>
	<div class="sidebar--address">
    <p>
      Balboa Pacific Insurance Services<br> 
      450 Newport Center Drive Suite 480<br> 
      Newport Beach, CA 92660<br> 
  	</p>
    <a href="tel:+19492973119" alt="Phone Number" class="btn btn--yellow--fill"> <i class="icon-phone"></i>(949) 207-3110</a>
	</div>
</aside>