<%= render "hero_index" %>
<article class="wrapper">
	<section class="skinny_wrapper pull_up">
		<div class="skinny_wrapper--article">
		<h1>This is a Headline?</h1>
		<h2>Subheader</h2>
		<p>Lorem ipsum dolor sit amet, cras labore. Ipsum at. Pharetra eget in, neque et arcu sed. Qui semper ornare quos nulla vitae nisl, maecenas sit curabitur integer fusce orci, at suspendisse wisi magna venenatis, felis condimentum enim sed nisl in vel, dignissim ultrices vestibulum dolor magnis rutrum. Nullam sem vehicula.</p>
		<%= render 'form' %>
				</div>
	</section>
	<%= render 'sidebar' %>
</article>