<%= render "hero2" %>
<article class="type-system-serif">
	<section class="wrapper skinny_wrapper">
		<h1 class="hello">New Contact</h1>
		<%= render 'form' %>
	</section>
	<aside class ="sidebar">
		<h2>Sidebar Content</h2>
	</aside>
</article>