<%= render 'hero_index' %>
<article class="wrapper">
	<div class="skinny_wrapper">
		<h2>Give us a try and see the difference.</h2>
		<p>Balboa Pacific Insurance Services is headquartered in Irvine, California and serves customers in California, Arizona, Colorado, and Florida. When it comes to some of the biggest investments such as your home, car, boat, jewelry, health, and most of all your life; we know that trust matters. Here at Balboa Pacific we have partnered up with some of the biggest insurance carriers. This gives us access to find the best products and price to meet your insurance needs.</p>
    <p>Balboa Pacific offers the highest quality insurance products in the market (Liberty Mutual, Anthem, Foremost, Travelers, Safeco, MetLife etc.) at the lowest price points both internally to our employees and also externally to our customers, partners, friends and family.</p>
    <p><strong>Fill this quick form out to get a free quote:</strong></p>
		<div class="contact-us-form"> <%= render 'form' %> </div>
	</div>
  <%= render 'side_about' %>
</article>
	<div class="map">
			<div id="map-canvas" style="width:100%;height:350px;"></div>
	</div>
<script>
function initMap() {
  var myLatLng = {lat: 33.615158, lng: -117.871958};

  var map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 13,
    center: myLatLng,
    scrollwheel: false,
    disableDefaultUI: true,
    styles: 
    [{"featureType":"administrative","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"administrative","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"administrative","elementType":"labels.icon","stylers":[{"visibility":"on"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"landscape","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"landscape.man_made","elementType":"geometry","stylers":[{"color":"#f7f1df"}]},{"featureType":"landscape.natural","elementType":"geometry","stylers":[{"color":"#d0e3b4"}]},{"featureType":"landscape.natural.terrain","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.medical","elementType":"geometry","stylers":[{"color":"#fbd3da"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#bde6ab"}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffe15f"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#efd151"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"color":"black"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"transit.line","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"transit.station.airport","elementType":"geometry.fill","stylers":[{"color":"#cfb2db"}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#a2daf2"}]}]
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Balboa Pacific'
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEBGFb-xpe1LTXwaG3pxiN1PbfpTmOf_s&callback=initMap"
async defer></script>


