<div class="image-gradient-dynamic">
	<%= image_tag("bg/smiling-coworkers.png", :alt => "Smiling Co-Workers") %>
  <div class="overlay"></div>
  <div class="copy">
    <h2>Need help regarding <br /><span class ="yellow-text">your policy?</span>
    <span class="sub-header">Here's a list of the insurance companies we work with.</span>
</h2>
  </div>
</div>
