<div class="image-gradient-dynamic">
	<%= image_tag("bg/smiling-coworkers.png", :alt => "Smiling Co-Workers") %>
  <div class="overlay"></div>
  <div class="copy">
    <h2>Need More Help?</h2>

  </div>
</div>
