<!-- 		<div class="article_header_img">	
			<%= image_tag @post.image.url(:large) %>
		</div> -->
		<div class="skinny_wrapper--article">	
			<!-- <p class="type"><%= @post.created_at.strftime('%A, %B %d') %></p> -->
			<%= markdown @post.content %>
			<br>
		</div>