<%= render "hero2" %>

<article class="content_well type-system-serif">
	<section class="skinny_wrapper main">
		<h1 class="hello">Edit Post</h1>
			<%= render 'form' %>
	</section>
	<aside class ="sidebar">
		<h2>Sidebar Content</h2>
	</aside>
</article>