<%= render "hero2" %>
<article class="content_well type-system-serif">
	<section class ="skinny_wrapper main">
		<h1 class="hello">New Post</h1>
		<%= render 'form' %>
	</section>
		<%= render 'sidebar' %>
</article>