<%= render "hero2" %>
<article class="content_well">
	<section>
		<div class="skinny_wrapper--article post-view mb25">	
			<h1 class="headerline">
				Being able to safely protect your home or auto should be a priority in protecting your investment.
			</h1>
			<p>
				Balboa Pacific Insurance Services is headquartered in Irvine, California and serves customers in California, Arizona, Colorado, and Florida. When it comes to some of the biggest investments such as your home, car, boat, jewelry, health, and most of all your life; we know that trust matters. Here at Balboa Pacific we have partnered up with some of the biggest insurance carriers. This gives us access to find the best products and price to meet your insurance needs.
			</p>
			<p>
				Balboa Pacific offers the highest quality insurance products in the market (Liberty Mutual, Anthem, Foremost, Travelers, Safeco, MetLife etc.) at the lowest price points both internally to our employees and also externally to our customers, partners, friends and family.
			</p>
		</div>
		<div class="skinny_wrapper--article post-view mb25">
			<h2>Contact Joe Stanovich</h2>
			<p class="address">
				Balboa Pacific Insurance Services<br> 
				450 Newport Center Drive Suite 480<br> 
				Newport Beach, CA 92660<br> 
			</p>
			<a href="tel:+19492973119">	(949) 207-3110 Phone </a><br>
			<span>	
				(949) 608-9102 Fax
			</span> 
		</div>
	</section>
<%= render 'sidebar' %>
</article>
<article class="content_well">
	
<div id="map"></div>
</article>
