<%= render "hero" %>
<article class="wrapper">
	<section class="skinny_wrapper pull_up">	
		<div class="skinny_wrapper--article">
			<h1>
				Headline for this.
			</h1>
				<p>
					Balboa Pacific Insurance Services is headquartered in Irvine, California and serves customers in California, Arizona, Colorado, and Florida. When it comes to some of the biggest investments such as your home, car, boat, jewelry, health, and most of all your life; we know that trust matters. Here at Balboa Pacific we have partnered up with some of the biggest insurance carriers. This gives us access to find the best products and price to meet your insurance needs.
				</p>
				<p>
					Balboa Pacific offers the highest quality insurance products in the market (Liberty Mutual, Anthem, Foremost, Travelers, Safeco, MetLife etc.) at the lowest price points both internally to our employees and also externally to our customers, partners, friends and family.
				</p>
			</div>
		<div class="featured">
		  <div class="featured-content">
			  <h2>Joe Stanovich</h2>
		    <p>Joe is the CEO and co-owner of Commerce Home Mortgage. He also oversees the financial strategy, operational execution including risk management, and regulatory compliance and reporting for the company.
				</p>
				<p>Previously, Mario founded Capital Lending Partners, a wholesale mortgage lending platform, held the position of Executive Vice President Sales & Marketing at Clear Channel Communications, Senior Vice President of Business Development at Eller Media Company, Vice President and General Sales Manager at General Electric Capital (GECC).</p>
		  </div>
		</div>
	</section>
	<%= render "sidebar" %>
</article>
