<%= render "hero2" %>
<article class="content_well">
	<section class="main skinny_wrapper">
	<h2 class="headerline">
		About us
	</h2>
	<p>
		Balboa Pacific Insurance Services is headquartered in Irvine, California and serves customers in California, Arizona, Colorado, and Florida. When it comes to some of the biggest investments such as your home, car, boat, jewelry, health, and most of all your life; we know that trust matters. Here at Balboa Pacific we have partnered up with some of the biggest insurance carriers. This gives us access to find the best products and price to meet your insurance needs.
	</p>
	</section>
<%= render 'sidebar' %>
	</aside>
</article>