body {
	background: #FAFAFA;
}

.main_wrapper {
	@include clearfix;
}
.content_well {
	position: relative;
	margin-top: -3em;
	@include outer-container;

	section {
		@include span-columns(8);
	}

	section,
	.sidebar {
		position: relative;
		background: white;
		border-radius: 1px;
		margin-bottom: 25px;
	}
}

.sidebar {
	@include span-columns(4);
	@include pad(25px);
}