body {
	background: $body-bg;
	@extend .border-top;
}

.main_wrapper {
	@include clearfix;
}
.content_well {
	position: relative;
	margin-top: -3em;
	@include outer-container;

	section {
		@include span-columns(8);
	}

	section,
	.sidebar {
		position: relative;
		border-radius: 1px;
		margin-bottom: 25px;
	}
}

.sidebar {
	@include span-columns(4);
	.sidebar_card {
		background: white;
		margin-bottom: 10px;
		position: relative;
		height: 120px;
		@include fill-parent;
		@include clearfix;
		.sidebar_img {
			height: 100%;
			width: 120px;
			float: left;
			overflow: hidden;
			img { 
				height: 100%;
				width: 100%;
			}
		}
		.sidebar_link {
			color: $dark-gray;
			font-size: 10px;
			padding: 15px;
			padding-top: 25px;
			float: right;
			width: calc(100% - 120px);
			h2 {
				font-size:1.2em;
			}
		}
	}
}

.article_header_img {
	margin-bottom: 25px;
	border-bottom: 5px solid $slate-blue;
	@include fill-parent;
	@include clearfix;
	img {
		@include span-columns(12);
	}
}

#admin_links {
	text-align: center;
	background-color: $admin_links_background;
	@include fill-parent;
	@include clearfix;
	a {
		color: $admin_links_color;
		@include transition(all 0.05s $ease-in-circ);
		@include pad(25px);
		@include span-columns(6);
		@include omega(2n);
		&:hover {
			background-color: tint($admin_links_background, 10%);
		}
	}
}

#social_footer {
	text-align: center;
	@extend a.link-sans-serif;
	background: tint($light-gray, 50%);
	@include pad(25px);
	a {
		@extend a.link;
		text-transform: uppercase;
		margin: 0 1em;
	}
}

#pagination_links {
	overflow: hidden;
	height: 200px;
	background: darken($slate-blue, 20%);
	font-size: 2em;
	font-weight: 100;
	@extend a.link-sans-serif;
	@include row(table);
	@include fill-parent;
	a.pagination {
		@extend a.link-sans-serif;
		position: relative;
		height: 100%;
		@include omega(2n);
		.pagination_title,
		img {
			left: 0;
			top: 0;
			position: absolute;
			@include fill-parent;
		}
		.pagination_title {
			z-index: 6;
			color: white;
			font-size: 1em;
			text-align: center;
	    top: 50%;
	    margin-top: -1em;
		}
		img {
			z-index: 5;
			// margin-top: -25%;
			opacity: 0.5;
		}
		&--prev {
			background-color: $blue;
			@include span-columns(4);
		}
		&--next {
			@include span-columns(8);
			@include reset-display;
			img {
				margin-top: -25%;
			}
		}
	}
}

#cta-section {
	background: $cta-section-background;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	@extend .centered;
	@include pad(25px);
	@include fill-parent;
	h2 {
		font-size: 2em;
		font-weight: 100;
	}
}

ul#insurance-logo-group {
	@include pad(25px 0);
	@include clearfix;
 li {
		height: 100%;
		vertical-align: middle;
		@include span-columns(2);
		&:first-child {
			@include shift(1);
		}
		img {
			width: 90%;
			margin: 0 auto;
		}	
	}
}

.insurance_cards {
	@extend .border-top;
	border-radius: $base-border-radius;
	@include fill-parent;
	li {
		background-color: #fff;
		margin-bottom: 25px;
		border-radius: $base-border-radius;
		@extend .box-shadow;
		@include fill-parent;
		a {
			@extend .letter-spacing;
			@extend .button;
			@extend .button-hero;
		}
	}
}

.insurance_card--title {
	font-size: 1.2em;
	font-weight: 400;
	@extend .uppercase;
	@extend .roboto;
}

.post-view {
	@extend .border-top;
	@extend .box-shadow;
	border-radius: $base-border-radius;
	background-color: #fff;
}

.blog-post {
	@extend .box-shadow;
	background-color: #fff;
	display: block;
	height: 240px;
	margin-bottom: 15px;
	overflow: hidden;
	border-radius: $base-border-radius;
	@include clearfix;
	@include fill-parent;
	.image-wrapper {
		@include span-columns(3 of 8);
		height: 100%;
		overflow: hidden;
		img {
	    height: auto;
	    width: 100%;
		}
	}
	.post-preview {
    font-family: roboto;
		@include padding(2em 0.8em);
		@include span-columns(5 of 8);
		@include omega();
		h2 {
			font-size: 1.6em;
		}
		span,
		.read-more-link {
			color: shade($action-color, 60%);
			line-height: 2;
		}
		p {
			font-size: 0.8em;
			max-width: 80%;
		}
	}
}

#main_blog_pagination .pagination {
	text-align: center;
	line-height: 120px;
	font-weight: 100;
	margin-bottom: 25px;
	@extend .uppercase;
	@extend .letter-spacing;
	@include row(table);
	a {
		color: #fff;
	}
	.disabled {
		color: rgba(255,255,255,0.5);
	}
	.previous_page{
		background-color: shade($blue, 30%);
		@include span-columns(3 of 8);
	}
	.next_page {
		background-color: tint($blue, 30%);
		@include span-columns(5 of 8);
		@include reset-display;
	}
}
