$brand-color: #36535A;
$brand-color-light: #4C6970;
$brand-color-dark: #213D44;
$brand-color-lighter: #6C8489;
$brand-color-darker: #123239;


$slate-blue: #3e474c;

$blue-teal: #36535A;

$dark-gray: #333 !default;
$light-gray: #DDD !default;
$blue: #015158;

$lighter-gray: #fafafa;

$yellow: #EDA611;