$brand-color: #36535A;
$brand-color-light: #4C6970;
$brand-color-dark: #213D44;
$brand-color-lighter: #6C8489;
$brand-color-darker: #123239;


$slate-blue: #3e474c;

$blue-teal: #36535A;

$dark-gray: #333 !default;
$light-gray: #DDD !default;
$blue: #015158;

$lighter-gray: #fafafa;

$yellow: #4EAACC;

$color1: #3b787f; //rgba(59, 120, 127, 100)
$color2: #4EAACC; //rgba(255, 186, 73, 100)
$color3: #ef5b5b; //rgba(239, 91, 91, 100)
$color4: #23001e; //rgba(35, 0, 30, 100)
$color5: #a4a9ad; //rgba(164, 169, 173, 100)

$transparent: transparent;

$off-white: #F3F7F6;

$slate: #8B8B8B;