.welcome header.navigation {
  @include media($large-screen) {
    background-color: transparent;
    position: absolute;
    border-bottom: none;
  }
}

.quotes {
  background: tint($brand-color, 95%);
}

#welcome-grid-item-0 {
	background: $color1;
  &:focus,
  &:hover {
    h1,
    p {
    	color: $color1 !important;
	  }
  }
}
#welcome-grid-item-1 {
	background: #000;
  &:focus,
  &:hover {
    background: tint(#000, 15%) !important;
    h1,
    p {
    	color: $color2 !important;
	  }
  }
}
#welcome-grid-item-2 {
	background: $color3;
  &:focus,
  &:hover {
    h1,
    p {
    	color: $color3 !important;
	  }
  }
}
#welcome-grid-item-3 {
	background: #000;
  &:focus,
  &:hover {
    background: tint(#000, 15%) !important;
    h1,
    p {
    	color: $color2 !important;
	  }
  }
}

#welcome-grid-item-big {
	background: $color2;
  &:focus,
  &:hover {
    h1,
    p {
    	color: $color2 !important;
	  }
  }
}


// // Hero Backgrounds

.insurances {
  .hero {
    @include background(url("bg/insurance.jpg"), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  }
}

.posts {
  .hero {
    @include background(url("bg/posts.jpg"), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  }
}

.about {
  .hero {
    @include background(url("bg/about.jpg"), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  }
}

.contacts {
  .hero {
    @include background(url("bg/joe.jpg"), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  }
}
.quotes {
  .hero {
    @include background(url("bg/quote.jpg"), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  }
}

.js-fade-element-hide {
  opacity: 0;
}

.js-fade-element-show {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}