.welcome header.navigation {
  @include media($large-screen) {
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    border-bottom: none;
  }
}

// .welcome .image-gradient-dynamic {
//   .overlay { opacity: 1 !important;}
//   @include media($large-screen) {
//     max-height: 100%;
//     img {
//       margin-top: 0px !important;
//     }
//     .copy {
//        margin-top: -30px;
//     }
//   }
// }

// .welcome .grid-items-lines {
//   @include media($large-screen) {
//     margin-top: -8em;
//   }
// }

#welcome-grid-item-0 {
	background: $color1;
  &:focus,
  &:hover {
    h1,
    p {
    	color: $color1 !important;
	  }
  }
}
#welcome-grid-item-1 {
	background: #000;
  &:focus,
  &:hover {
    background: tint(#000, 15%) !important;
    h1,
    p {
    	color: $color2 !important;
	  }
  }
}
#welcome-grid-item-2 {
	background: $color3;
  &:focus,
  &:hover {
    h1,
    p {
    	color: $color3 !important;
	  }
  }
}
#welcome-grid-item-3 {
	background: #000;
  &:focus,
  &:hover {
    background: tint(#000, 15%) !important;
    h1,
    p {
    	color: $color2 !important;
	  }
  }
}

#welcome-grid-item-big {
	background: $color2;
  &:focus,
  &:hover {
    h1,
    p {
    	color: $color2 !important;
	  }
  }
}


// // Hero Backgrounds

// .insurances {
  .hero {
    @include background(url("bg/insurance.jpg"), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  }
}

.posts {
  .hero {
    @include background(url("bg/posts.jpg"), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  }
}

.about {
  .hero {
    @include background(url("bg/about.jpg"), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  }
}

.contacts {
  .hero {
    @include background(url("bg/elderly-couple.png"), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  }
}
.quotes {
  .hero {
    @include background(url("bg/quote.jpg"), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  }
}

