.wrapper {
	@include outer-container;
}

.skinny_wrapper {
	@include pad(25px);
	&--article {
		@include pad( 2em 6em ); 
	}
}

.hidden {
	display: none;
}

a.link {
	color: $slate-blue;
	&-sans-serif{
		font-family: $sans-serif-3;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

.centered {
	text-align: center;
}

.border-top {
	border-top: 5px solid $brand-color;
}

.uppercase {
	text-transform: uppercase;
}

.letter-spacing {
	letter-spacing: 1px;
}

.mb25 {
	margin-bottom: 25px;
}

.gray-text {
	color: $light-gray;
}

.cropped-image {
	@include fill-parent;
	img {
		width: 100%;
	}
}