.img-swap {
	display: block !important;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.6;
	z-index: 1;
}

.border-radius {
	border-radius: 3px;
}

.gray-border {
	border: 1px solid tint($color5, 76%);
}

.wrapper {
	@include outer-container;
	padding-bottom: 50px;
}

.skinny_wrapper {
	@extend .border-radius;
	@extend	.gray-border;
	@include pad(25px);
	&--article {
		@include media ($large-screen) {
			padding: 50px 100px;
			@include span-columns(8);
		}
	}
}

.pull_up {
	@include media ($large-screen) {
		margin-top: -8em;
	}
	background: #fff;
	position: relative;
}

.pull {
	margin-top: -1em;
}
