.img-swap {
	display: block !important;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.6;
	z-index: 1;
}

.hidden {
	display: none;
}

.border-radius {
	border-radius: 3px;
}

.gray-border {
	border: 1px solid tint($color5, 76%);
}

.wrapper {
	@include outer-container;
	padding-bottom: 50px;
}

.skinny_wrapper {
	@extend .border-radius;
	@extend	.gray-border;
	@include pad(25px);
	@include media ($large-screen) {
		@include span-columns(8);
	}
	&--article {
		@include media ($large-screen) {
			padding: 50px 100px;
		}
	}
}

.pull_up {
	@include media ($large-screen) {
		margin-top: -8em;
	}
	background: #fff;
	position: relative;
}

.pull {
	margin-top: -1em;
}


// input[type="color"], 
// input[type="date"], 
// input[type="datetime"], 
// input[type="datetime-local"], 
// input[type="email"], 
// input[type="month"], 
// input[type="number"], 
// input[type="password"], 
// input[type="search"], 
// input[type="tel"], 
// input[type="text"], 
// input[type="time"], 
// input[type="url"], 
// input[type="week"], 
// input:not([type]), textarea, select[multiple] {
//   border: 0;
//   border-bottom: 1px solid #ddd;
//   outline: none;
// 	border-radius: 0;
// }

textarea{
	min-height: 300px;
	border: 1px solid #ddd;
	margin-bottom: 35px;
}