header.navigation {

  background-color: $navigation-background;
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
  position: absolute;
  // border-bottom: 1px solid tint($color5, 76%);
  

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;

    img {
      max-height: $navigation-height;
      padding: 0.8em 0;
      width: 255px;
    }
  }
}


// Slideout Nav

.sliding-panel-content {
  @include position(fixed, 0 auto 0 0);
  @include size(220px 100%);
  background: $sliding-panel-background;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translateX(-220px);
  transition: all 0.25s linear;
  z-index: 999999;

  ul {
    padding: 0;
    padding-top: 25px;
    margin: 0;
  }

  li {
    list-style: none;
  }
  .small-nav {
    padding: 0.5;
    font-size: 14px;
    font-weight: lighter;
  }

  li a {
    //border-bottom: $sliding-panel-border;
    color: $sliding-panel-color;
    display: block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;

    &:focus {
      background-color: $sliding-panel-background-focus;
    }

    &:hover {
      background-color: #4EAACC;
      color: $sliding-panel-color-hover;
    }
  }

  &.is-visible {
    transform: translateX(0);
  }

  li h2 {
    padding: 0.5em 1em;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 25px;
  }
}

.sliding-panel-fade-screen {
  @include position(fixed, 0);
  background: black;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}

.sliding-panel-button {
  // background: #fff;
  cursor: pointer;
  // display: block;
  outline: none;
  color: #000;
  // padding: 10px 16px;
  right: 0;
  position: absolute;
  top: 10px;

  &:hover,
  &:active,
  &:focus {
    background: transparent;
  }
  // img {
  //   height: 1.3em;
  // }
}




// Pagination

#pagination_links {
  overflow: hidden;
  height: 200px;
  font-size: 2em;
  font-weight: 100;
  @include row(table);
  @include fill-parent;
  a.pagination {
    position: relative;
    height: 100%;
    @include omega(2n);
    .pagination_title,
    img {
      left: 0;
      top: 0;
      position: absolute;
      min-height: 200px;
    }
    .pagination_title {
      z-index: 6;
      color: white;
      font-size: 14px;
      text-align: center;
      width: 100%;
      top: 50%;
      transform: translateY(-7px);
      span {
        display: none;
      }
    }
    img {
      z-index: 5;
      opacity: 0.5;
    }
    &--prev {
      @include span-columns(4);
    }
    &--next {
      @include span-columns(8);
      @include reset-display;
    }
  }
}
