// @import url("//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700");
// @import url("//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700");
// @import url("//fonts.googleapis.com/css?family=Lusitana:400,700");
// @import url("//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic");
// @import url("//fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic");

$body-bg: $lighter-gray;

$sans-serif-3: "effra",sans-serif;

$base-spacing: 1.5em !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

$base-border-radius: 3px !default;
$base-border-color: gainsboro !default;

$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
$base-font-size: 1em !default;

$action-color: #DB5543!default;

$base-font-color: $dark-gray !default;

$medium-screen: em(640) !default;
$large-screen: em(860) !default;

$image-gradient-color-top: #2e474d; 
$transparency-top: 0.9;
$image-gradient-color-bottom: #2e474d;
$transparency-bottom: 0.6;
$vertical-angle: 0deg;
$image-gradient-color-left: #182529; 
$transparency-left: 0.8;
$image-gradient-color-right: #182529; 
$transparency-right: 0.8;
$horizontal-angle: 90deg;

$hero-background-top: shade(#36535A, 55%); 
$hero-background-bottom: shade(#36535A, 15%);
$hero-color: white;
$hero-font: $sans-serif-3;
$hero-font-body: $sans-serif-3;
$gradient-angle: 10deg;
$hero-image: 'bg/woman_with_baby.png';

$navigation-padding: 1em;
$navigation-background: rgba(5,101,110,0.90);
$navigation-color: #fff;
$navigation-color-hover: #EDA611;
$navigation-height: 60px;
$navigation-nav-button-background: $action-color;
$navigation-nav-button-background-hover: tint($navigation-background, 10%);
$navigation-nav-button-border: 1px solid tint($navigation-nav-button-background, 20%);
$navigation-search-background: tint($navigation-background, 5);
$navigation-search-border: 1px solid shade($navigation-background, 5);
$navigation-active-link-color: transparentize(white, 0.5);
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 12em;

$horizontal-bar-mode: $large-screen;

$sub_header_background: $blue-teal;

$footer-background: url('bg/ocean-waves.png');
$footer-color: white;
$footer-link-color: shade(white, 6%);
$footer-disclaimer-color: white;

$side-image-background-top: #B5EBEB;
$side-image-background-bottom: #5DAC5D;
$side-image-content-background: #F9F9F9;
$side-image-border: 1px solid shade(transparentize($side-image-background-bottom, 0.8), 30%);

$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;

$button-group-background: $base-background-color;
$button-group-color: tint($base-font-color, 30%);
$button-group-border: 1px solid silver;
$button-group-inner-border: 1px solid tint(silver, 18%);
$button-group-background-checked: $action-color;
$button-group-color-checked: white;
$button-group-border-checked: shade($button-group-background-checked, 15%);
$btn-line-height: 3.5;
$btn-padding: 0.5em 2.5em 0.5em 1.5em;


$card-border-color: $base-border-color;
$card-border: 1px solid $card-border-color;
$card-background: shade($brand-color, 10%);
$card-header-background: $card-background;
$card-margin: 1em;
$card-image-hover-opacity: 0.5;
$card-image-hover-color: shade($card-background, 20%);

$grid-items-background: white;
$grid-item-background: white;
$grid-item-border: 1px solid transparentize($base-font-color, 0.8); 
$grid-item-columns: 4;
$grid-item-big-columns: 8;
$grid-item-color: $base-font-color;
$grid-item-height: 14em;

$admin_links_background: $blue;
$admin_links_color: white;

$cta-section-background: $brand-color-light;

$contact-card-color: $brand-color-lighter;

$table-border-color: $body-bg;
$table-border: 0px;
$table-background: lighten($table-border-color, 12%);
$table-header-background: lighten($table-background, 10%);
$table-hover-background: darken($table-background, 5%);
$table-stripe-background: darken($table-background, 2%);
$table-stripe-background-hover: darken($table-stripe-background, 5%);
$table-padding: 0.75em 1em;

$hover-tile-height: 10em;

$icon-bullet-size: 150px;