
#about-box {
	width: 100%;
	background-color: #fff;
	background-image: url('temp.png');
	background-repeat: no-repeat;
	background-position: 90% center;
	background-size: 400px;
	@include pad(25px);

	.about-box-wrapper {
		@include media($large-screen) {
			@include span-columns(6);
		}
		@include span-columns(12);
	}

	@include media($large-screen) {
		padding: 60px 0 70px;
	}

	h3 {
		font-size: 22px;
	    line-height: 30px;
	    color: $brand-color;
	}

	p {
		color: $slate;
	    font-size: 18px;
	    line-height: 25px;
	    margin: 22px 0 0;
	}
}

.slide-section {
	background-color: $off-white;
	padding-top: 25px;
	display: none;

	@include media($large-screen) {
		display: block;
	}
}