// Grayed Logos

.logo-section {
	display: none;
	@include media($large-screen) {
		display: block;
	}

}
#insurance-logo-group {
	text-align: center;
	@include clearfix;
	@include pad(50px 25px 25px);
	
	li:not(:last-child) {
		margin-bottom: 25px;
	}
	
	img {
		max-width: 80%;
	}

}

.intro,
.insurance-type-slide,
.customer-quotes{
	aside {
		font-size: 30px;
		letter-spacing: 1px;
		h2 {
			color: #000;
		}
	}
}

.quote-author {
	display: block;
	padding: 25px 0px;
}
