.sidebar {
	@include pad(0px 0px 0px 15px);
	// border: 1px solid tint($color5, 78%);
	h2 {
		font-weight: 100;
		font-size: 16px;
		margin: 0 0 15px 0;
		font-style: normal;
	}
	p {
		font-weight: 100;
		font-size: 14px;
		margin: 0;
		max-width: 80%;
	}
	.btn {
		margin-top: 15px;
    display: inline-block;
	}
	hr {
		width: 3em;
		margin-bottom: 15px;
	}
	@include media($large-screen) {
		@include span-columns(4);
		margin-top: 15px;
	}
	&--quote {
		@include pad(15px 0px);
		border-radius: 3px;
	}
	.table_contents {
		@include pad(15px 0px);
		border-radius: 3px;
		ul {
			li {
				line-height: 1.5;
				a {
					@include pad(5px 0px);
					display: block;
					color: $color5;

					p {
						@include transition (all 0.2s ease-in-out);
					}
				  @include media($large-screen) {
				    &:focus,
				    &:hover {
				     	p { color: $color2 !important;}
				    }					
				  }
				}
			}
		}
	}
	&--address {
	}
}