.btn {
	@include pad(10px 35px 10px 20px);
	&--outline {
		border: 3px solid $color2;
	}
	&--yellow {
		&--fill {
			color: #fff !important;
			background: $color2;
		}
	}
}

.button-icon {
	margin-left: -35px;
	&--yellow {
		color: $color2;
	}
}