.bullet_wrapper {
  background-color: #fafafa;
  padding: 2em;
  // background-image: url('bg/line.svg');
  @extend .bg-size;
  .header-box {
    display: inline-block;
    padding: 15px 25px;
    color: $brand-color;
  }
}


.bullets {
  @include outer-container;
  overflow: auto;
  padding: 3em 2em;
  margin-top: -4em;

  .bullet {
    //background: #fff;
    //@extend .border-radius;
    //@extend .box-shadow;
    overflow: hidden;
    padding: 25px 0;
    min-height: 330px;
    @include span-columns(4);
  }

  .bullet-icon {
    border-radius: 50%;
    width: $icon-bullet-size;
    margin: 0 auto;
  }
  .bullet-icon-1,
  .bullet-icon-2,
  .bullet-icon-3 {
    @extend .bg-size;
  }
  // .bullet-icon-1 {
  //   background-color: $brand-color;
  // }

  // .bullet-icon-2 {
  //   background-color: $brand-color;
  // }

  // .bullet-icon-3 {
  //   background-color: $brand-color;
  // }

  .bullet-content {
    text-align: center;
  }

  h2 {
    display: inline-block;
    font-size: 20px;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
    padding-bottom: 5px;
    margin-bottom: 1em;
    color: $brand-color-lighter;
    //border-bottom: 2px solid $brand-color-lighter;
  }

  li {
    list-style: none;
  }

  p,
  span {
    // color: white;
    // line-height: $base-line-height;
    // text-align: left;
    // background-color: $brand-color;
    // margin: 0;
    padding: 0 25px 25px 25px;
  }
  // p {
  //   padding: 25px 0 0px 25px;
  // }
  span {
    color: $yellow;
  }

  img {
    max-width: 100%;
  }
}
