.bullet_wrapper {
  background: white;
  padding: 4em;
}


.bullets {

  @include outer-container;
  overflow: auto;
  padding: 2em;

  .bullet {
    @include span-columns(4);
  }

  .bullet-icon {
    background: $action-color;
    border-radius: 50%;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;
    margin: 0 auto;
  }

  .bullet-icon-1 {
    background: $action-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($action-color, -50%);
  }

  .bullet-icon-3 {
    background: adjust-hue($action-color, -140%);
  }

  .bullet-content {
    //margin-left: $icon-bullet-size * 1.4;
    text-align: center;
    margin-bottom: 2em;
  }

  h2 {
    //border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }
}
