
.button {
  line-height: $btn-line-height;
  padding: $btn-padding;
  border-radius: 25px;
  &-hero{
    color: tint($brand-color-dark, 90%);
    background-color: $brand-color-dark;
  }
  &-yellow-btn {
  	color: shade($yellow, 50%);
  	background-color: $yellow;
  }
  &-white-btn {
    color: shade($blue, 50%);
    background-color: white;
  }
}

.button-icon {
  margin-left: -2.5em;
  color: #fff;
  &-gray {
    color: $dark-gray;
  }
}