.button {
  line-height: $btn-line-height;
  padding: $btn-padding;
  border-radius: 25px;
  &-hero{
    color: tint($blue-teal, 90%);
    background-color: $blue-teal;
  }
  &-yellow-btn {
  	color: shade($yellow, 50%);
  	background-color: $yellow;
  }
}
