.cards {

  @include pad(25px 50px);

  .card {
    // text-align: center;
    // background: #fff;
    padding-bottom: 15px;
    margin-bottom: 15px;

    @include media($large-screen) {
      @include span-columns(4);
      @include omega(3n);
    }
    
    span {
      color: $color5;
    }
    p {
      color: $color1;
      font-weight: 900;
    }

    p,
    span {
      max-width: 90%;
      margin: 0;
      @include pad(10px 10px);
    }
  }
  
  .card-image {
    height: 150px;
    background: whitesmoke;
    overflow: hidden;
    margin-bottom: 15px;

    img {
      height: 100%;
      min-width: 100%;
    }
  }
}
