.image-gradient-dynamic {
  
  line-height: 0;
  position: relative;
  width: 100%;

  @include media($large-screen) {
    max-height: 500px;
    overflow: hidden;
    img {
      margin-top: -15%;
    }
  }
  img {
   height: auto;
   left: 0; 
   position: relative;
   top: 0;
   width: 100%;
  }

  .copy {
    @include transform(translate(-50%, -50%));
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 999;

    h2 {
      color: white;
      line-height: 1.5em;
      // padding: 1em 2em;
      position: relative;
      font-weight: 100;
      margin: 0 0 35px 0;
    }
  }

  .overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top), 
      transparentize($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);

    &:after {
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left), 
        transparentize($image-gradient-color-right, $transparency-right));
      @include position(absolute, 0px 0px 0px 0px);
      content: '';
      display: block;
    }
  }
}