@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {

  @include clearfix;
  position: relative;
  
  @include media($large-screen) {
    // margin-top: -6em;
    // @include pad(0px 50px);
  }

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    // border-bottom: $grid-item-border;
    // border-right: $grid-item-border;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-decoration: none;
    width: 100%;
    position: relative;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    &:focus,
    &:hover {
      background: $brand-color !important;
    }
  }

  .grid-item img {
      display: none;
      // height: 2.5em;
      // margin-bottom: 1.2em;
      // opacity: 0.2;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: 0.4em;
      margin-top: 2.5em;
      position: relative;
      z-index: 2;
      
      @include media($large-screen) {
        margin-top: 2.5em;
      }
    }

  .grid-item p {
      color: transparentize($grid-item-color, 0.4);
      line-height: 1.5em;
      position: relative;
      z-index: 2;
      
      @include media($medium-screen) {
        max-width: 90%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 90%;
      }  
    }
  }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  // .bottom-cover {
  //   background: $grid-items-background;
  //   bottom: 0px;
  //   height: 3px;
  //   position: absolute;
  //   width: 100%;
  // }

  // .right-cover {
  //   background: $grid-items-background;
  //   height: 100%;
  //   position: absolute;
  //   right: 0px;
  //   width: 4px;
  // }
}

