.hero {  
  //url($hero-image), 
  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #360033;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
  padding-top: 4em;
  overflow: hidden;
  position: relative;
  font-family: $hero-font;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: left;

    .hero-copy {
      text-align: left;
      
      h1 {
        // font-weight: 100;
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          letter-spacing: 1px;
          font-size: 3em;
          @include span-columns(10);
          @include shift(1);
        }
      }

      p {
        font-family: $hero-font-body;
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.2em;
          letter-spacing: 1px;
          max-width: 60%;
          margin: 0 0 15px 0;
          @include shift(1);
        }
      }

      a {
        letter-spacing: 1px;
        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 60%;
          margin-top: 1em;
          @include shift(1);
        }
      }
    }
  }

  // &:after {
  //   content: '';
    
  //   height: 50px;
  //   width: calc(100% + 50px);
    
  //   background: #fafafa;
    
  //   position: absolute;
  //   bottom: 0;
    
  //   @include transform(rotate(-3deg));
  // }
}
