.hero {  
  background-color: #324766;
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding-bottom: 3em;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.39);
    z-index: 1;
    display: block;
  }

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: center;
    z-index: 3;

    .hero-copy {
      text-align: center;
      margin-top: 75px;
      z-index: 5;
      position: relative;
      
      h1 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}
