.hover-wrapper {
  padding: 2em 0;
}
.welcome_cards_wrapper {
  @include clearfix;
  background-color: shade($brand-color, 30%);
  // background-image: url('bg/line.svg');
  background-position: center center;
  background-size: cover;
  @extend .teal-shadow;
}

.hover-tile-outer {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
  background-position: top;
  background-size: cover;
  background-color: beige;
  //border: 1px solid $base-border-color;
  cursor: pointer;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  @extend .box-shadow;
  
  @include media($large-screen) {
    @include span-columns(3);
  }

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 5;
    }
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, 0.2s ease-in-out);
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    padding: $base-spacing;
  }

  .hover-tile-hidden {
    background: transparentize(#000, 0.5);
    position: relative;
    z-index: 10;
    color: #fff;
    text-align: center;
    a {
      color: white;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 65px 15px 0px 15px;
    }
    p {
      color: transparentize(#fff, 0.3);
      line-height: $base-line-height;
    }

    h4 {
      margin: 0 0 0.5em 0;
    }
  }
}
