<section id="contact-footer">
	<div class="quote">
		<p>
		<i class="icon-quote reverse"></i>
		We will take care of all your insurance needs, so that you can focus on what matters.
		<i class="icon-quote"></i>
		</p>
	</div>	
	<div class="contact-card">
		<%= link_to new_contact_path, :class=>"contact-card-header" do %>
			Get In Touch
			<span class="icon-right-open-mini"></span>
		<%end%>
	</div>
</section>