<section id="contact-footer">
	<div class="contact-card">
		<%= link_to new_contact_path, :class=>"contact-card-header" do %>
			Get In Touch
			<span class="icon-right-open-mini"></span>
		<%end%>
	</div>
</section>