<div id="cta-section">
	<h2>Get a Free Quote Today</h2>
	<p>Get started now, takes just a few minutes.</p>
	<a href="#" class="button button-yellow-btn">Get My Quote Now</a>
	<i class="icon-right-open-mini button-icon"></i>
</div>