<div id="cta-section">
	<h2>Get a Free Quote Today</h2>
	<p>Get started now, takes just a few minutes.</p>
	<%= link_to "Get My Quote Now", quotes_path, class: "button button-yellow-btn" %>
	<i class="icon-right-open-mini button-icon"></i>
</div>