<footer class="footer-2" role="contentinfo">
  <div class="footer-wrapper">
    <div class="footer-logo">
      <%= image_tag "logo_m.png", :alt => "Logo" %>
    </div>

    <div class="footer-secondary-links">
      <ul>
        <li>              
          <a href="https://www.google.com/maps/place/450+Newport+Center+Dr+%23200,+Newport+Beach,+CA+92660/data=!4m2!3m1!1s0x80dce085fee61a87:0x3fa1f137a4b359aa?sa=X&ved=0ahUKEwj_96nP3MvNAhUGwWMKHR-9BskQ8gEIHTAA" target="_blank">450 Newport Center Drive Suite 200 Newport Beach, CA 92660</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
