<div class="image-gradient-dynamic">
  <%= image_tag @insurance.image.url(:xlarge) %>
  <div class="overlay"></div>
  <div class="copy">
    <h2>Let us help you with your 
    	<span class ="blue-text"><%= @insurance.title%></span> needs.
    </h2>
  </div>
</div>
