<div class="image-gradient-dynamic">
	<%= image_tag("bg/elderly-couple.png", :alt => "Smiling Co-Workers") %>
  <div class="overlay"></div>
  <div class="copy">
    <h2>What type of insurance do you need?
    	<span class="sub-header">You may not realize that you need something here.</span>
    	</h2>
  </div>
</div>
