<div class="image-gradient-dynamic">
	<%= image_tag("bg/team-at-desk.png", :alt => "home image") %>
  <div class="overlay"></div>
  <div class="copy">
    <h2>We do all the heavy lifting, so you don't have to!</h2>
  </div>
</div>
