<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Taking the Necessary Precautions for Protection is Crucial.</h1>
			<p>Being able to safely protect your home or auto should be a priority in protecting your investment.</p>
			<%= link_to "Let Us Help You", about_index_path, class: "button button-hero" %>
		</div>
	</div>
</div>