<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Taking the Necessary Precautions for Protection is Crucial.</h1>
			<p>Being able to safely protect your home or auto should be a priority in protecting your investment.</p>
			<%= link_to "Get Started", quotes_path, class: "button button-hero" %>
			<i class="icon-right-open-mini button-icon"></i>
		</div>
	</div>
</div>