<div class="image-gradient-dynamic">
	<%= image_tag("bg/man-facing-away.png", :alt => "home image") %>
  <div class="overlay"></div>
  <div class="copy">
    <h2>Read Our <span class ="yellow-text">Latest Posts</span>
    <span class="sub-header">Insurance Tips and Tricks.</span></h2>
  </div>
</div>
